detectors/__pycache__/
detectors/.ipynb_checkpoints/
anomalies/__pycache__/
anomalies/.ipynb_checkpoints/
anomalies/ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/